<style>
  .component-page-toolbar{
    display: none;
  }

  .main-title-holder {
  	position: absolute;
    width: 523px;
    left: 5vw;
    top: 15vh;
  }

  .main-title-holder > h1 {
    font-size: 46px;
  }

  @media (min-width: 1200px) {
    .main-title-holder > h1 {
      font-size: 66px;
    }

    .main-title-holder {
      left: 15vw;
    }
  }

</style>
<div>
  <img style='width: 100%' src='http://1.bp.blogspot.com/-llAZQ_ad8Ns/UZKLVrV7QHI/AAAAAAAAGvc/ZIJfiuwHosg/s1600/Art+mmaSTERPIECES.jpg' />
  
  <div class='main-title-holder'>
    <h1 style='font-weight: bold; line-height: 1.12; color: white'>
      Welcome to Semantic Cultural Warehouse
    </h1>
  </div>
  <h1 style='margin-top: 100px;' class='text-center'>About the Semantic Cultural Warehouse</h1>
  <div style='display: flex; justify-content: center;'>
    <div style='width: 765px;'>
      <p>
        The Semantic Cultural Warehouse contains data from several data sources, which has been integrated and presented as a single collection to the users. More specifically, it has been derived from: 
       <ul>
         <li> Florentine Drawings  </li>
         <li> Homeless Paintings of the Italian Renaissance </li>
         <li> FotoIndex  </li>
      </ul>
      </p>
      <p>
        You can search for infromation using the <a href="./Search">Structured Search</a> facilities.
      </p>
    </div>
  </div>

  [[> http://www.metaphacts.com/resource/Footer ]]
</div>
